<div class="container flex-column">
 <div class="form-box shadow-lg" style="height: 40vh;">
   <h2 class="mt-5 text-center">Resend Confirmation </h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "h-50" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field d-flex flex-column justify-content-between gap-5">
    <%# = f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email", class: "form-control"%>
    <div class="actions">
    <div class="d-flex justify-content-center">
      <%= f.submit "Resend", class: "btn btn-primary"%>
    </div>
  </div>
  </div>

  
<% end %>
 </div>
</div>
