<%= stylesheet_link_tag 'signin.css' %>
<div>
  <div class="container">
    <div class="h-50 w-50 shadow-lg bg-white">
			<h1 class="text-center pt-3 mt-4">Product Stock Management</h1>
		</div>
	</div> 
</div>
